# datasource 
spring:
  profiles:
    active: dev
  datasource:
    driverClassName: org.h2.Driver
    url: jdbc:h2:mem:forum
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
      path: /h2-console
  boot:
    admin:
      client:
        url: http://localhost:8081
        instance:
          serviceBaseUrl: http://localhost:8080

# jwt
forum:
  jwt:
    secret: rm'!@N=Ke!~p8VTA2ZRK~nMDQX5Uvm!m'D&]{@Vr?G;2?XhbC:Qa#9#eMLN\}x3?JR3.2zr~v)gYF^8\:8>:XfB:Ww75N/emt9Yj[bQMNCWwW\J?N,nvH.<2\.r~w]*e~vgak)X"v8H`MH/7"2E`,^k@n<vE-wD3g9JWPy;CrY*.Kd2_D])=><D?YhBaSua5hW%{2]_FVXzb9`8FH^b[X3jzVER&:jw2<=c38=>L/zBq`}C6tT*cCSVC^c]-L}&/
    expiration: 86400000


# actuator
management:
  endpoint:
    health:
      show-details: always
  endpoints:
      web:
        include: "*"
        exposure:
          include: "*"
info:
  app:
    name: @project.name@
    version: @project.version@
    description: @project.description@
    encoding: @project.build.sourceEncoding@
    java:
      version: @java.version@
